* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d1a763;
  margin: 20px;
}

input {
  padding: 10px;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-color: #d1a763;
  max-width: 90%;
  font-size: medium;
}

input:focus {
  outline: none;
}

.container {
  margin: 0;
  max-width: 1200px;
}

.costBlock {
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
}

.total {
  display: flex;
  justify-content: flex-end;
}

.addItemContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* margin: 10px; */
  /* width: 100%; */
}

.costItem {
  width: 100%;
  margin: 10px;
}

.cost {
  width: 100%;
  margin: 10px;
}

.list {
  margin: 5px;
  margin-top: 10px;
}

button {
  margin: 3px;
  padding: 10px;
  width: 30%;
  transition: all 0.3s;
  transform: scale(1);
  border-width: 0;
  border-radius: 3px;
  background-color: #7fa66c;
  color: #fff;
}

button:hover {
  box-shadow: 0px 10px 10px 1px #525252d0;
  transform: scale(1.1);
}

button .edit-button .delete-button {
  border-width: 0;
  background-color: #fff;
}
